@import "./../App.scss";

@mixin button {
  display: flexbox;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45%;
  min-width: 120px;
  min-height: 50px;
  // padding: 2rem;
  border: 1px solid $primaryColor;
  border-radius: 24px;
  background-color: $thirdColor;
  color: $primaryColor;
  left: 11%;
  top: 110px;
  cursor: pointer;
}

.fileButton {
    @include button;
    width: 20%;
    min-width: 150px;
    font-size: 16px;
   padding: 1rem 2rem;
}
.primaryButton {
  @include button;
  position: static;
  background-color: $primaryColor;
  color: $secondaryColor;
}
.secondaryButton {
  @include button;
  position: static;
  color: $primaryColor;
}
.copyButton {
  @include button;
  width: 80%;
  position: static;
  background-color: white;
  margin-bottom: 10%;
}
