@import "./../App.scss";

.buttonsContainer {
  display: inline-flex;
  position: absolute;
  left: 11%;
  top: 87%;
  width: 48%;
  justify-content: space-between;
}

@include tablet{
   .buttonsContainer{
      top: 55%;
      left: 5%;
      width: 90%;
   }
}
@include phone{
   .buttonsContainer{
      flex-direction: column;
      align-items: center;
      left: 0;
      width: 100%;
   }
}
