@import "./../styles/buttons.module.scss";
@import "./../App.scss";

.textareaContainer {
  display: inline-flex;
  position: absolute;
  left: 11%;
  top: 9rem;
  width: 48%;
  height: 68vh;
}
.label {
  input {
    display: none;
  }
}
