@import "./../App.scss";

.outputText {
  display: inline-flex;
  position: absolute;
  text-align: center;
  right: 7%;
  top: 5vh;
  background-color: $lightColor;
  color: $primaryColor;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 86vh;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  p {
    padding: 2%;
    border: none;
    text-align: center;
    font-size: 16px;
    line-height: 1rem;
  }
  img {
    height: 30%;
  }
}

@include tablet {
  .outputText {
    top: 73%;
    height: 17vh;
    width: 90%;
    right: 5%;
    p {
      padding: 1%;
    }
    img {
      display: none;
    }
  }
}
